body{
    background-color: aliceblue;
}

h2{
    text-align: center;
    color:rgb(5, 104, 243);
    border: 5px solid rgb(0, 5, 6);
    padding: 10px;
    margin: 20px;

}

p{
    text-align: center;
}

h1{
      text-align: center;
      color:rgb(35, 93, 39);
      border: 5px solid rgb(79, 79, 77);
      padding: 10px;
      margin: 20px;
}


.emilyfooter{
    height: 50px;
    background-color: black;
    color: white;

}